html {
background-color: #F7F2E0;
display: flex;
flex-direction: column;
align-items: center;
}

.peli {
display: flex;
flex-direction: column;
align-items: center;
}

.kuva {
width: 85%;
}

.button1 {
font-size: 18px;
padding: 10px;
position: absolute;
bottom: 10%;
left: 15%;
}

.button2 {
font-size: 18px;
padding: 10px;
position: absolute;
bottom: -10%;
left: 15%;
}
