html {
background-color: #F7F2E0;
display: flex;
flex-direction: column;
align-items: center;
}


.peli {
display: flex;
flex-direction: column;
align-items: center;
}

.kuva {
width: 40%;
}

button {
font-size: 25px;
padding: 10px;
position: relative;
bottom: 20%;
}
